xsd_loader_tests/resources/base/data/fixtures/complex_type_definition_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.w3.org/2001/XMLSchema"
	   xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   targetNamespace="urn:xsd_loader_test" xmlns:tns="urn:xsd_loader_test">
  <xs:complexType name="Ct2" >
    <xs:sequence>
      <xs:element name="e1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ct2" type="tns:Ct2"/>
</xs:schema>